.map-component-karta{
grid-area: m;
background-color: #434342;
	font-family: 'Bellota Text', cursive;
	text-decoration: none;
	color: #fff;
}

.map-component-title {
    display: contents;
    text-align: center;
    margin: 0 auto;
}