.footer {
	grid-area: f;
	background-color: #434342;
	font-family: 'Bellota Text', cursive;
	text-decoration: none;
	color: #fff;
	font-size: 0.875rem;
	margin-top: 2rem;
	margin: 0;
	padding: 0;
}

@media (min-width: 768px) {
	.footer {
		flex-basis: 50%;
		flex-shrink: 0;
	}
}

@media (min-width: 960px) {
	.footer {
		flex-basis: 33.333333333%;
	}
}